[submodule "raphael"]
	path = raphael
	url = https://github.com/DmitryBaranovskiy/raphael/
[submodule "qunit"]
	path = qunit
	url = https://github.com/jquery/qunit.git
[submodule "jquery-submodule"]
	path = jquery-submodule
	url = https://github.com/garrison/jquery-submodule.git
[submodule "mathjs"]
	path = mathjs
	url = https://github.com/josdejong/mathjs.git
[submodule "seedrandom"]
	path = seedrandom
	url = https://github.com/davidbau/seedrandom.git
